*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar {
  background: #e6e1e1;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  /* position: sticky; */
  top: 0;
  z-index: 9;
  white-space: nowrap;
  font-weight: 400;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar-logo {
  background-color: #211c1c;
  background-image: linear-gradient(to top, #211c1c 0%, #453a3b 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: text;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar-item {
  height: 80px;
}

.navbar-links {
  color: #211c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.carousel {
  width: 100%;
  height: 74vh;
  position: relative;
}

.carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.1s opacity ease-in-out;
  transition-delay: 0.1s;
}

.slide img {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0s;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 3rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

footer {
  height: auto;
  background-color: #000000ff;
  padding: 0 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-info {
  margin-top: 15px;
}

.alt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info h2,
.contact-info li {
  margin: 0 10px 0;
  font-size: 1.2rem;
  color: white;
}

.contact-info h2 {
  color: #e6e1e1;
  margin: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  color: #e6e1e1;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
}

/* The icons in the footer section
********************************************/

.social-icon-link {
  color: #e6e1e1;
  font-size: 24px;
}

.social-media {
  max-width: 1100px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  margin: 30px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social-logo {
  color: #e6e1e1;
  justify-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.website-rights {
  font-size: 1rem;
  color: #e6e1e1;
}
