/*
$phthalo-green: #0a210fff;
$lincoln-green: #14591dff;
$citron: #99aa38ff;
$green-yellow-crayola: #e1e289ff;
$uranian-blue: #acd2edff;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Carter One', cursive;
}
body {
  background: #e1e289ff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #e1e289ff;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  position: sticky;
  top: 0;
  z-index: 9;
  white-space: nowrap;
  font-weight: 400;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar-logo {
  background-color: #0a210fff;
  background-image: linear-gradient(to top, #0a210fff 0%, #14591dff 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: text;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-car {
  margin-right: 0.1rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar-item {
  height: 80px;
}

.navbar-links {
  color: #14591dff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar-links:hover {
  /* background: #0a210fff; */
  color: #14591dff;
  transition: all 0.3s ease;
}

/* The Slider Section
********************************************/
.carousel {
  width: 100%;
  height: 73.7vh;
  position: relative;
  margin: 0;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
  transition-delay: 0.1s;
}

.slide img {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0s;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 3rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

/* The Footer Section
********************************************/
footer {
  background-color: #e1e289ff;
  padding: 1rem 0 1.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
}

.contact-info h2,
.contact-info li {
  color: #14591dff;
  font-size: 1rem;
}

.contact-info h2 {
  color: #0a210fff;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  color: #14591dff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

/* The icons in the footer section
********************************************/

.social-icon-link {
  color: #14591dff;
  font-size: 24px;
}

.social-media {
  max-width: 1100px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social-icons a:hover {
  color: #99aa38ff;
  transition: 0.3s ease-out;
}

.social-logo {
  color: #14591dff;
  justify-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website-rights {
  font-size: 1rem;
  color: #14591dff;
}
@media screen and (max-width: 960px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    z-index: 1;
    max-width: 1400px;
    padding: 0;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.3s ease;
    max-height: 100vh;
    z-index: -1;
    background-color: #000000ff;
  }

  .navbar-menu.active {
    background: #e1e289ff;
    top: 100%;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 8;
    height: 100vh;
    font-size: 1.8rem;
  }

  #navbar-logo {
    padding-left: 25px;
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #14591dff;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar-toggle .bar {
    display: block;
    cursor: pointer;
  }

  /*
  the x effect
  */
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .carousel-button {
    top: 40%;
  }

  footer {
    font-size: 0.2rem;
  }

  .contact-info h2 {
    font-size: 1.5rem;
  }
  .contact-info li {
    font-size: 1rem;
  }

  .footer-logo {
    font-size: 1.6rem;
  }

  .social-icon-link {
    font-size: 21px;
  }

  .social-icons {
    width: 200px;
  }

  .website-rights {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 640px) {
  .carousel-button {
    top: 30%;
    font-size: 2.6rem;
  }
  .contact-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social-media-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 440px) {
  .carousel-button {
    top: 20%;
    font-size: 2rem;
  }
}
