* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background: #000000ff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  position: sticky;
  top: 0;
  z-index: 9;
  white-space: nowrap;
  font-weight: 400;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar-logo {
  background-color: #99221eff;
  background-image: linear-gradient(to top, #99221eff 0%, #ff6047ff 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: text;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-pizza {
  margin-right: 0.1rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar-item {
  height: 80px;
}

.navbar-links {
  color: #fdfffcff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 12px;
  background: #ff6047ff;
  background-image: linear-gradient(to top, #99221eff 0%, #ff6047ff 100%);
  color: #fdfffcff;
}

.btn:hover {
  background: #000000ff;
  transition: color 0.3s ease;
}
.btn:hover {
  color: #ff6047ff;
  transition: color 0.1s ease;
}
.navbar-links:hover {
  /* background: #99221eff; */
  color: #ff6047ff;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    z-index: 1;
    max-width: 1400px;
    padding: 0;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.3s ease;
    height: 100vh;
    z-index: -1;
    background-color: #000000ff;
  }

  .navbar-menu.active {
    background: #000000ff;
    top: 100%;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 8;
    height: 100vh;
    font-size: 1.8rem;
  }

  #navbar-logo {
    padding-left: 25px;
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fdfffcff;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar-btn {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar-toggle .bar {
    display: block;
    cursor: pointer;
  }

  /*
  the x effect
  */
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
